.weather-header {
    background: linear-gradient(to right, #3463bc, #210a4d);
}

#today {
    padding: 5px;
}

.btn-history {
    margin: 10px;
}

.card-custom {
    background-color: #2d3e50;
}

p {
    font-size: 1.4em;
}